

// ======= colour ======== //
$primary: #00703E;
$secondary: #0c8a51;
$white: white;
$border: #d1d1d1;
$span: #e5e5e5;
$bg: #ffffff;
$normal: #5a5a5a;
$black: black;

// ======= transition ======== //
$transition-fist: all 0.1s ease-in-out;
$transition: all 0.3s ease-in-out;
$transition-two: all 0.2s ease-in-out;

// ======= shadow ======== //
$shadow:5px 5px 60px 0px rgba( 45, 19, 106, 0.4);
$shadow-two: 0px 1px 10px 0px rgba(45, 19, 106, 0.1);
$shadow-three:0px 8px 20px 0px rgba(45, 19, 106, 0.2);
